<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hackathon Project{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div>
                    {% for message in messages %}
                        <div>{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </main>
</body>
</html>
